@font-face {
    font-family: 'Hanken Grotesk Bold';
    src: url('../assets/fonts/static/HankenGrotesk-Bold.ttf');

}
@font-face {
    font-family: 'Hanken Grotesk Extra Bold';
    src: url('../assets/fonts/static/HankenGrotesk-ExtraBold.ttf');
}
@font-face {
    font-family: 'Hanken Grotesk Medium';
    src: url('../assets/fonts/static/HankenGrotesk-Medium.ttf');
}
@font-face {
    font-family: 'Hanken Grotesk';
    src: url('../assets/fonts/HankenGrotesk-VariableFont_wght.ttf');
}
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    /* Primary */

    --Light-red: hsla(0, 100%, 67%,.1);
    --Orangey-yellow: hsla(39, 100%, 56%,.1);
    --Green-teal: hsla(166, 100%, 37%,.1);
    --Cobalt-blue: hsla(234, 85%, 45%,.1);
    --Light-red-s: hsl(0, 100%, 67%);
    --Orangey-yellow-s: hsla(39, 100%, 56%);
    --Green-teal-s: hsla(166, 100%, 37%);
    --Cobalt-blue-s: hsla(234, 85%, 45%);
    
    
    /* Gradients */
    
    --Light-slate-blue-background: hsl(252, 100%, 67%);
    --Light-royal-blue-background: hsl(241, 81%, 54%);
    
    --Violet-blue0-circle: hsla(256, 72%, 46%, 1);
    --Persian-blue-circle: hsla(241, 72%, 46%, 0);
    
    
    
    /* Neutral */
    
    --White: hsl(0, 0%, 100%);
    --Pale-blue: hsl(221, 100%, 96%);
    --Light-lavender: hsl(241, 100%, 89%);
    --Dark-gray-blue: hsl(224, 30%, 27%);
}

p{
    font-size: 18px;
}
body{
    font-family: 'Hanken Grotesk';
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}
.main-container{
   
    background: var(--White);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border-radius:0px 25px 25px 0px;
    box-shadow: 5px 5px 10px var(--Cobalt-blue);
    
}

.result-container{
    background-image: linear-gradient(var(--Light-slate-blue-background),var(--Light-royal-blue-background));
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 20rem;
    height: 25rem;
    flex-wrap: wrap;
    padding: 25px 45px 10px;
    align-items: center;
    border-radius: 25px;
}


.score-container-circle{
    color: var(--White);
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: linear-gradient(to top,var(--Persian-blue-circle),var(--Violet-blue0-circle));
    text-align: center;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-top: 20px;
}

.footer-container{
    margin-top: 20px;
    flex-wrap: wrap;
    
}

.footer-container h1{
    color: var(--White);
    margin-bottom: 20px;

}
.footer-container span{
    color: var(--Light-lavender);
    
}
.score-container-circle h1{
    font-size: 50px;
}
.score-container-circle span{
    color: var(--Light-lavender);
}

.result-container .heading{
    color: var(--Light-lavender);
    font-family: 'Hanken Grotesk Medium';
}


.summary-container{
    padding: 20px 20px 10px 20px;
    display: flex;
    flex-direction: column;
    width: 20rem;
    height: 25rem;

}

.reaction{
    background: var(--Light-red);
    margin-top: 10px;
}
.memory{
    background: var(--Orangey-yellow);
    margin-top: 10px;
}

.verbal{
    background: var(--Green-teal);
    margin-top: 10px;
}

.visual{
    background: var(--Light-lavender);
    margin-top: 10px;
}


.summary-container .heading{
    margin-bottom: 15px;
    color: var(--Dark-gray-blue);
}

.heading p{
    font-family: 'Hanken Grotesk Extra Bold' ;
}
.summary-container .reaction,
.summary-container .memory,
.summary-container .verbal,
.summary-container .visual{
    display:flex;
    flex-direction: row;
    height: 50px;
    align-items: center;
    justify-content: flex-start;
    border-radius: 10px;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}


.reaction p:last-of-type,
.memory p:last-of-type,
.verbal p:last-of-type,
.visual p:last-of-type{
    margin-left: auto;
}

.reaction img,
.memory img,
.verbal img,
.visual img{
    margin-right: 5px;
}

.reaction span,
.memory span,
.verbal span,
.visual span{
    color: var(--Dark-gray-blue);
    font-family:'Hanken Grotesk Bold' ;
}

.title{
    font-family: 'Hanken Grotesk Bold' ;
}
.reaction .title{
    color: var(--Light-red-s);
}
.memory .title{
    color: var(--Orangey-yellow-s);
}

.verbal .title{
    color: var(--Green-teal-s)
}

.visual .title{
    color: var(--Cobalt-blue-s);
}

.btn{

    background: var(--Dark-gray-blue);
    margin-top: 30px;
    text-align: center;
    text-decoration: none;
    color: var(--White);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 20px;
}


@media(max-width:375px){
    body{
        align-items: flex-start;
    }

    .result-container{
        width: 100%;
        border-radius: 0px 0px 25px 25px;
    }

    .summary-container{
        height: 100vh;
    }

    .btn{
        height: 50px;
    }
}